# Archivos de entorno
.env
.env.*

# Dependencias
node_modules/
vendor/

# Salidas de compilación y logs
dist/
build/
out/
*.log

# IDEs y editores
.vscode/
.idea/
*.iml

# Control de versiones y locks
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos temporales y de respaldo
*.tmp
*.swp
*.bak
*.orig

# MongoDB data
mongodb/

# Otros
coverage/
.DS_Store
Thumbs.db
*.pid